asgiref==3.8.1
build==1.0.3
click==8.1.7
colorama==0.4.6
config==0.5.1
Django==4.2.8
django-autoslug==1.9.9
django-cleanup==8.1.0
django-jazzmin==3.0.0
djangorestframework==3.15.2
packaging==23.1
pillow==10.3.0
pip-tools==7.3.0
pyproject_hooks==1.0.0
python-decouple==3.8
sqlparse==0.5.0
tzdata==2024.1
whitenoise==6.6.0
